#p_audi {
  padding: 2em 0;
  background: url("/b/grid.png"), #ffe7eb;
  background-blend-mode: overlay;
  background-size: 1000px;
  min-height: 3000px;
  #main {
    margin: 50px 0;
    position: relative;
    z-index: 1;

    .adl {
      position: absolute;
      left: 0%;
      top: -100px;
      @media screen and (max-width: 768px) {
        left: -50px;
      }
    }
    .adr {
      position: absolute;
      right: 0%;
      bottom: -100px;
      @media screen and (max-width: 768px) {
        right: -50px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      background: white;
      scale: 1.1;
      rotate: -1deg;
      z-index: -1;
      height: 100%;
    }
    .confine {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1200px;
      align-items: center;
      color: var(--dp);
      @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
      }
      .l {
        padding: 3em;
        img {
          width: 100%;
          height: 100%;
        }
        @media screen and (max-width: 1024px) {
          max-width: 400px;
        }
      }
      .r {
        padding: 3em;
        .sh {
          font-weight: lighter;
          font-size: 2rem;
          @media screen and (max-width: 500px) {
            font-size: 1.2rem;
          }
        }
        .mh {
          font-size: 5rem;
          line-height: 0.8;
          font-family: var(--fontG);
          color: var(--br);
          letter-spacing: -3px;
          @media screen and (max-width: 500px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 420px) {
            font-size: 3rem;
          }
        }
        .status {
          background: var(--dr);
          color: white;

          display: flex !important;
          align-items: center;
          justify-content: center;
          align-items: center;
          width: fit-content;
          padding: 0.25em 2em;
          border-radius: 1em;
          margin: 1em 0;
          gap: 1em;

          &:has(.open) {
            background: var(--br);
          }
          svg {
            position: relative;
            top: 10%;
          }
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  #requirements {
    max-width: 95%;
    margin: 100px auto;
    background: white;
    border-radius: 1em;
    padding: 2% 5%;
    position: relative;
    top: 0%;
    .arl {
      position: absolute;
      left: 0%;
      height: 100%;
      transform: translateX(-70%);
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    .arr {
      position: absolute;
      transform: translateX(70%);
      scale: -1;
      right: 0%;
      height: 100%;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    .rh {
      background: var(--pp);
      text-align: center;
      font-family: var(--fontG);
      color: var(--br);
      font-size: 4rem;
      letter-spacing: -3px;
      border-radius: 0.5em;
      margin-bottom: 0.5em;

      @media screen and (max-width: 1280px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        padding: 1em 0;
      }
    }
    .rg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      @media screen and (max-width: 420px) {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
    .r {
      background: url("/b/dots_1.png"), var(--pp);
      background-size: 300px;
      background-blend-mode: lighten;
      border-radius: 1em;
      margin: 0.5em 0;
      padding: 1.4em 1em;
      text-align: center;
      font-size: 2rem;
      color: var(--p);
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 420px) {
      }
    }
  }
  #timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7%;
    color: var(--dr);
    gap: 2em;

    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-bottom: 0;

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 7em;
      padding-bottom: 100px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      // background: red;
      border: 3px dashed var(--br);
      border-radius: 3em;
      scale: 0.9;
    }
    .l {
      rotate: -3deg;
      display: flex;
      flex-direction: column;
      gap: 1em;
      @media screen and (max-width: 500px) {
        rotate: -1deg;
      }
      .time {
        background: white;
        border: 2px solid var(--br);
        border-radius: 2em;
        position: relative;
        padding: 2em;
        max-width: 80%;
        padding-right: 15%;
        cursor: initial;
        display: block;
        &:nth-child(2) {
          transform: translateX(10%);
          @media screen and (max-width: 500px) {
            transform: translateX(2%);
          }
        }
        &:nth-child(3) {
          transform: translateX(20%);
          @media screen and (max-width: 500px) {
            transform: translateX(5%);
          }
        }

        @media screen and (max-width: 500px) {
          max-width: 95%;
          h2 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        .num {
          position: absolute;
          right: -40px;
          top: 20%;
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          z-index: 1;

          svg {
            width: 100%;
            position: absolute;
            height: 100%;
            z-index: -2;
          }
        }
      }
    }

    .r {
      text-align: right;
      rotate: -2deg;
      .sh {
        font-size: 3rem;
        color: var(--dp);
        font-weight: lighter;
        line-height: 0.9;
        position: relative;
        z-index: 10;
      }
      .mh {
        font-size: 4rem;
        font-family: var(--fontG);
        line-height: 0.9;
        color: var(--br);
        // font-weight: bolder;
        position: relative;
        z-index: 10;
      }
      img {
        width: 100%;
        height: 700px;
        object-fit: contain;
        object-position: bottom;
        margin-top: -100px;
        @media screen and (max-width: 500px) {
          height: 500px;
          width: 500px;
          margin-top: 0px;
          object-position: center bottom;
          transform: translateX(-20%);
        }
      }
    }
  }
  #audifaq {
    background: white;
    margin-top: -10px;
    position: relative;
    z-index: 1;
    border-radius: 3em 3em 0 0;
    padding-top: 50px;
    .h {
      background: var(--p);
      .confine {
        max-width: 1420px;
        margin: 0 auto;
        padding: 2% 5%;
        position: relative;
        .sh {
          font-size: 3rem;
          line-height: 0.9;
          @media screen and (max-width: 1280px) {
            font-size: 2rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.3rem;
            margin-bottom: -20px;
          }
        }
        svg {
          position: absolute;
          top: 0%;
          right: -5%;
          width: 500px;
          height: 100%;
          @media screen and (max-width: 1280px) {
            width: 20%;
          }
        }
        .mh {
          font-size: 6rem;
          line-height: 0.9;
          font-family: var(--fontG);
          letter-spacing: -4px;
          @media screen and (max-width: 1280px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 3rem;
            line-height: 1;
          }
        }
      }
    }

    .confine {
      max-width: 1100px;
      margin: 0 auto;
      padding: 100px 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      @media screen and (max-width: 420px) {
        padding: 50px 1em;
      }

      .faq {
        background: #fce7f3;
        border-radius: 1em;
        padding-bottom: 2em;
        padding-top: 1em;

        .ap {
          padding: 1em 3em;
          color: var(--p);
          font-size: 1.4rem;
          color: white;
          background: var(--p);
          background-blend-mode: lighten;
          background-size: 300px;
          min-height: 200px;
          max-height: 300px;
          transition: all 500ms ease;
          overflow-y: auto;
          @media screen and (max-width: 1024px) {
            padding: 1em;
            font-size: 1.3rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }
        .qp {
          display: flex;
          justify-content: space-between;
          padding: 0.5em 1em;
          color: var(--dp);
          font-size: 2rem;
          line-height: 1;
          font-weight: bold;
          align-items: center;
          overflow: hidden;
          @media screen and (max-width: 1280px) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }

          .btn-drop {
            border-radius: 1em;
            color: white;
            width: 80px;
            height: 50px;
            background: var(--p);
            @media screen and (max-width: 768px) {
              width: 40px;
              height: 30px;
            }
            svg {
              width: 100%;
              height: 100%;
              border-radius: 1em;
            }
          }
        }
        &.open {
          border: 5px solid var(--br);
        }
        &.closed {
          padding-bottom: 0;
          padding-top: 0;
          .ap {
            max-height: 0px;
            min-height: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
