#p_read {
  min-height: 1000px;
  #article {
    margin-top: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 500px;
      background: url("/d/pkd.png"), #ff92a7;
      background-repeat: repeat-x;
      background-position: center;
      background-blend-mode: color-dodge;
      z-index: -1;
      margin-top: 2em;
    }
    .page {
      max-width: 1000px;
      background: white;
      border-radius: 1em;
      margin: 0 auto;
      padding: 50px 2%;
      @media screen and (max-width: 768px) {
        padding: 50px 5%;
      }
      .ph {
        .d {
          font-size: 1.2rem;
          color: var(--p);
        }
        .h {
          font-size: 2rem;
          color: var(--br);
          @media screen and (max-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }
    }
    .ban {
      width: 100%;
      background: grey;
      border-radius: 1em;
    }
    article {
      color: var(--dp);
      font-size: 1.2rem;
      margin: 1em 0;
      margin-bottom: 100px;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 420px) {
        text-align: justify;
      }
      ul,
      ol {
        padding-left: 3em;
        margin-bottom: 1em;
      }
      p {
        margin-bottom: 1em;
      }
      a {
        color: var(--br);
        text-decoration: underline;
      }
    }
    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-all {
        background: var(--dp);
        font-size: 1.5rem;
        padding: 0.25em 3em;
        border-radius: 1em;
        outline: 4px solid var(--dp);
        outline-offset: 4px;
        margin-bottom: -80px;
        @media screen and (max-width: 420px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
