#footer {
  position: relative;
  z-index: 50;
  .ftr {
    position: absolute;
    bottom: 100%;
    left: 0%;
    max-height: 140px;
    @media screen and (max-width: 500px) {
      max-height: 80px;
    }
  }
  .ftl {
    position: absolute;
    max-height: 120px;
    bottom: 100%;
    right: 0%;
    @media screen and (max-width: 500px) {
      max-width: 80px;
    }
  }
  .top-bar {
    background: #ffa6b7;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 0.25em 2em;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0;
      align-items: flex-end;
      text-align: right;
    }
    .btn-add {
      font-size: 1.5rem;
    }
  }
  .center {
    background: url("/b/grid_t.png"), #ff92a7;
    display: flex;
    justify-content: flex-end;

    align-items: center;
    gap: 2em;
    padding: 1em 1em;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .ico {
      position: absolute;
      bottom: 0%;
      left: 5%;
      scale: 0.8;
      transform-origin: bottom;
      @media screen and (max-width: 768px) {
        scale: 0.8;
        left: 0%;
        transform-origin: left bottom;
      }
      @media screen and (max-width: 480px) {
        bottom: initial;
        top: 0%;
        left: -15px;
        border-radius: 3em;
        overflow: hidden;
      }
      @media screen and (max-width: 350px) {
        scale: 0.5;
      }
    }

    .heart {
      width: 100px;
      height: 100px;
    }
    .stroke {
      position: absolute;
      left: 15%;
      bottom: 30%;
      scale: 2;
      transform-origin: left;
      // filter: brightness(1.8);
      user-select: none;
      pointer-events: none;
      animation: beat 2s infinite linear reverse;
      @media screen and (max-width: 480px) {
        top: 0%;
        left: 0%;
      }
      @media screen and (max-width: 768px) {
        scale: 1;
        left: 20%;
      }
      @media screen and (max-width: 350px) {
        left: -10%;
      }

      path {
        stroke: #ffbecb;
        fill: #ffbecb;
      }
      @keyframes beat {
        from {
          clip-path: inset(0% 0% 0% 0%);
        }
        33% {
          clip-path: inset(0% 100% 0% 0%);
        }
        66% {
          clip-path: inset(0% 0% 0% 100%);
        }
        100% {
          clip-path: inset(0% 0% 0% 0%);
        }
      }
    }
    .socials {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.1em;
      padding-top: 1em;
      .attrib {
        p {
          a {
            font-weight: bold;
            color: var(--dr);
            font-size: 1.2rem;
            @media screen and (max-width: 420px) {
              font-size: 0.9rem;
            }
          }
        }
      }
      .st {
        display: flex;
        gap: 0.6em;
        margin-bottom: 0.25em;
        .btn-socials {
          background: white;
          color: var(--br);
          padding: 0.25em;
          width: 50px;
          height: 50px;
          border-radius: 0.5em;
          padding: 0.25em 0.5em;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .bottom {
    background: var(--br);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.1;
    padding-top: 0.45em;
    padding-bottom: 0.15em;
    @media screen and (max-width: 500px) {
      text-align: right;
    }
    @media screen and (max-width: 350px) {
      text-align: center;
    }
  }
}
